# No whitespace after the comma or in the keyboard name!
config SHIELD_LARK_DONGLE
    def_bool $(shields_list_contains,lark_dongle)

config SHIELD_LARK_LEFT
    def_bool $(shields_list_contains,lark_left)

config SHIELD_LARK_RIGHT
    def_bool $(shields_list_contains,lark_right)